<section class="contact">
	<h2 class="text-center">Contact Me</h2>
	<div class="row text-center">
		<div class="col-xs-4 col-md-2 col-md-offset-3">
			<p class="fa fa-map-marker fa-2x"></p>
			<p>New York City, NY</p>
		</div>
		<div class="col-xs-4 col-md-2">
			<p class="fa-2x fa fa-envelope"></p>
			<p>agjavali@gmail.com</p>
		</div>
		<div class="col-xs-4 col-md-2">
			<p class="fa-2x fa fa-phone"></p>
			<p>(315)-350-6819</p>
		</div>
	</div>
	<div class="row linkIcon">
		<div class="col-xs-6 col-md-3 col-md-offset-3 text-right">
			<a target="_blank" href="https://github.com/Adijav" class="github fa-2x fa fa-github"></a>
		</div>
		<div class="col-xs-6 col-md-3 align text-left">
			<a target="_blank" href="https://www.linkedin.com/in/adityajavalikar" class="linkedIn fa-2x fa fa-linkedin"></a>
		</div>
	</div>
</section>