<section class="row home">
	<div class="col-md-6">
		<img ng-src="../images/main.jpg" alt="Responsive image" class="img-responsive img-circle profileImage">
	</div>
	<div class="col-md-6">
		<h1>Hello,</h1>
		<div class="aboutMe">I'm a Software Engineer based in Bay Area currently working at Photon Infotech.</div>
		<div class="aboutMe">I have a strong passion for the discipline that goes into web development with focus on writing clean, maintainable and readable code. I strive to continueously improve my skills and learn new things everyday.</div>
		<div class="aboutMe"> In my free time, I like to play with frameworks/technologies, listen to podcast and music.</div>
	</div>
</section>