<section class="projects">
	<h2 class="text-center">Projects</h2>
	<div class="row">
	  	<div class="col-xs-12 col-sm-6 col-md-4">
		    <a href="https://warm-journey-55355.herokuapp.com/#/" target="_blank" class="thumbnail">
		    	<div class="image">
		    		<img src="../images/image3.png" alt="...">
		    		<span class="textContent"><h4>Chirp Messanger</h4><p>MEAN stack</p></span>
		    	</div>	
		    </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
		    <a href="https://fierce-meadow-78290.herokuapp.com/#/main" target="_blank" class="thumbnail">
		    	<div class="image">
		    		<img src="../images/image2.png" alt="...">
		    		<span class="textContent"><h4>Github Viewer</h4><p>AngularJS</p></span>
		    	</div>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
		    <a href="https://sheltered-coast-54558.herokuapp.com" target="_blank" class="thumbnail">
		      	<div class="image">
		    		<img src="../images/image7.png" alt="...">
		    		<span class="textContent"><h4>Author Quiz</h4><p>ReactJS</p></span>
		    	</div>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
		    <a href="https://floating-sands-96413.herokuapp.com" target="_blank" class="thumbnail">
		      	<div class="image">
		    		<img src="../images/image5.png" alt="...">
		    		<span class="textContent"><h4>Virtual Standup</h4><p>ExpressJS, MongoDB</p></span>
		    	</div>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
		    <a href="https://whispering-journey-11453.herokuapp.com" target="_blank" class="thumbnail">
			    <div class="image">
		    		<img src="../images/image6.png" alt="...">
		    		<span class="textContent"><h4>Shopping Store</h4><p>ReactJS</p></span>
		    	</div>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
		    <a href="https://still-dusk-51090.herokuapp.com" target="_blank" class="thumbnail">
		    	<div class="image">
		    		<img src="../images/image9.png" alt="...">
		    		<span class="textContent"><h4>Animal World</h4><p>ExpressJS</p></span>
		    	</div>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
		    <a href="https://aqueous-fortress-25072.herokuapp.com" target="_blank" class="thumbnail">
		    	<div class="image">
		    		<img src="../images/image4.png" alt="...">
		    		<span class="textContent"><h4>Fruit Facts</h4><p>AngularJS</p></span>
		    	</div>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
		    <a href="https://agile-woodland-55949.herokuapp.com/" target="_blank" class="thumbnail">
		      	<div class="image">
		    		<img src="../images/image8.png" alt="...">
		    		<span class="textContent"><h4>Star Wars Movies</h4><p>ExpressJS</p></span>
		    	</div>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
		    <a href="https://protected-sierra-17066.herokuapp.com/" target="_blank" class="thumbnail">
		      	<div class="image">
		    		<img src="../images/image1.png" alt="...">
		    		<span class="textContent"><h4>Coding Academy</h4><p>MEAN stack</p></span>
		    	</div>
		    </a>
		</div>
	</div>
</section>