<section class="resume">
	<h2 class="text-center">Resume</h2>
	<div class="row">
		<div class="col-md-8">
			<h3 class="workExperience">Work Experience</h3>

			<h4 class="jobTitle">Photon Infotech</h4>
			<div>2015 - present</div>
			<div>Client - J.P.Morgan Chase</div>
			<div class="description">
				<h5>
					The intent of the project is to take advantage of the new technology and infrastructure by creating an enhanced customer for digital functions like Accounts, Conversation Deck, My Profile and Payments. The team’s goal was to implement Mortgage Payment, Home Loan, Personal Loan, Statements and Documents.
				</h5>
				<ul>
					<li>Served as a key UI member on a multi-disciplined scrum team, working with product owners and business analysts to translate their ideas in consistent, reusable coding solutions.</li>
					<li>Organized and developed modular code by applying object oriented techniques to produce maintainable CSS solutions.</li>
					<li>Responsible for monitoring, maintaining and reviewing contributions to the library code and develop cross browser and mobile responsible solutions that met highest guidelines of Accessibility specifications.</li>
				</ul>
			</div>
			

			<h4 class="jobTitle">ComTec Information Systems</h4>
			<div>2014</div>
			<div>Client - J.P.Morgan Chase</div>
			<div class="description">
				<h5>
					Objective of this project was to implement the Newsroom prototypes for “Why Chase” feature. This application gives constant updates on the latest news and stories about businesses, financial fitness, lifestyle, innovation and leadership.
				</h5>
				<ul>
					<li>Developed functional and responsive HTML5 templates with modular CSS3 solutions to meet business stakeholder’s requirement.</li>
					<li>Thrive in a team environment, work well with other team members to promote and communicate new ideas to achieve overall success of the team.</li>
				</ul>
			</div>


			<h4 class="jobTitle">ComTec Information Systems</h4>
			<div>2014</div>
			<div>Client - J.P.Morgan Chase</div>
			<div class="description">
				<h5>
					Leveraging a powerful, shared library to empower designers and developers to utilize the same language to bridge the gap between the UI and the back end solutions by enabling faster and easier web development a live style guide of common, ready to use extendable components.
				</h5>
				<ul>
					<li>Worked with the design team to turn their ideas into consistent reusable code solutions to implement reusable components using HTML5, CSS3 and JavaScript.</li>
					<li>Taking the implemented solution through entire lifecycle of design analysis, coding, testing across targeted browsers and mobile devices.</li>
				</ul>
			</div>

			<h4 class="jobTitle">ComTec Information Systems</h4>
			<div>2013</div>
			<div class="last description">
				<h5>
					The intent of this project was to develop interactive and responsive web pages for enhanced user experience using various front-end technologies. 
				</h5>
				<ul>
					<li>Developed web pages using HTML5, CSS3, KendoUI with client side scripting using JavaScript.</li>
					<li>Involved in development of web solutions with focus on user experience and compliance to web standards.</li>
				</ul>
			</div>


			<h3 class="education">Education</h3>
			<h4 class="schoolName">Syracuse University</h4>
			<div>M.S Computer Engineering</div>
			<p class="educationYear">Spring 2013</p>

			<h4 class="schoolName">Visvesvaraya Technological University</h4>
			<div>B.S Electronics and Communication Engineering</div>
			<p>Summer 2010</p>
		</div>
		<div class="col-md-offset-1 col-md-3">
			<h3 class="skills">Skills</h3>
			<div class="headSkill">
				<h4 class="skillName">Languages</h4>
				<div class="subSkill">HTML5, CSS3, JavaScript</div>
			</div>
			<div class="headSkill">
				<h4 class="skillName">Framework/Library</h4>
				<div class="subSkill">Bootstrap 3, LESS, AngularJS, NodeJS, ExpressJS, MongoDB, ReactJS, jQuery, HandlebarsJS, RactiveJS</div>
			</div>
			<div class="headSkill">
				<h4 class="skillName">Tools</h4>
				<div class="subSkill">Gulp, Bower, npm, RequireJS, Git, Source tree, JIRA</div>
			</div>
		</div>
	</div>
</section>