<section class="resume">
	<!-- <h2 class="text-center">Resume</h2> -->
	<div class="row">
		<div class="col-md-12">
			<h3 class="summary"><strong><i class="titleIcon fas fa-user-tie"></i> Summary</strong></h3>
			<p>Senior Software Engineer with 5+ years of experience in software development. Leverage technical, analytical and problem-solving skills to create web applications fueling competitive advantage and revenue growth impacting millions of customers. Experience in leading teams and mentoring engineers to develop high quality software solutions.</p>

			<div class="skillEducation">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<h3 class="education"><strong><i class="titleIcon fas fa-list"></i> Technical Skills</strong></h3>
						<ul>
							<li><strong>Web Technologies:</strong> JavaScript (ES5, ES6), HTML5, CSS3.</li>
							<li><strong>Framework / Library:</strong> Bootstrap, LESS, SASS, jQuery, jQueryUI, BlueJS, RequireJS, HandlebarsJS, RactiveJS, AngularJS, ExpressJS, MongoDB, ReactJS, NodeJS.</li>
							<li><strong>Testing / Other Tools:</strong> ChaiJS, SinonJS, Gulp, Bower, npm, Git, Jira, Source tree, Splunk, KarmaJS, CucumberJS, JMeter, BlazeMeter.</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6">
						<h3 class="education"><strong><i class="titleIcon fas fa-graduation-cap"></i> Education</strong></h3>
						<ul>
							<li>
								<div><strong class="school">Syracuse University<span class="graduateYear">Spring 2013</span></strong></div>
								<p>MS Computer Engineering</p>
							</li>

							<li>
								<div><strong class="school">Visvesvaraya Technological University<span class="graduateYear">Summer 2010</span></strong></div>
								<p>B.S Electronics & Communication</p>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="professionalExperience">
				<h3 class="workExperience"><i class="titleIcon fas fa-briefcase"></i> Professional Experience</h3>

				<h4 class="employer"><strong>Photon Infotech</strong></h4>
				<h5 class="client"><strong>Project - Payment Simplification (client - J.P.Morgan Chase)</strong><span class="year">Jan 2019 - Present</span></h5>
				<ul class="projectDescription">
					<li>
						Served as a UI team lead on a multi-disciplined scrum team as well on a dynamic, cross functional UI frameworks team.
					</li>
					<li>
						Developed single page web application using BlueJS framework to create a cohesive payment experience for customers across Bill Pay, ACH Payments and Quick Pay products.
					</li>
					<li>
						Worked with business analyst, UX designer and product owner in researching, conceptualizing, designing and making applications more usable and user friendly.
					</li>
					<li>
						Implemented modular CSS flexbox solutions using design guidelines to create pervasive styles that persist throughout the application.
					</li>
					<li>
						Worked with a custom UI stack that used nodeJS, npm, Gulp and Bower to drive the build environment.
					</li>
					<li>
						Built appropriate unit test cases for software applications using KarmaJS, ChaiJS and SinonJS.
					</li>
					<li>
						Used JMeter and BlazeMeter to test web application and API to validate and ensure performance at every part of SDC.
					</li>
					<li>
						Wrote Gherkin steps for Cucumber specifications to run automation tests on application. 
					</li>
					<li>
						<!-- Wrote queries to search, analyze and visualize information presented in the logs using Splunk to validate API. -->
						Managed day to day work assignments for the development team, device and deploy processes and procedures to improve efficiency and productivity.
					</li>
				</ul>
				
				<h5 class="client"><strong>Project - Chase Personal and Business Online (client - J.P.Morgan Chase)<span class="year">Dec 2015 - Dec 2019</span></strong></h5>
				<ul class="projectDescription">
					<li>
						Lead participant in extended work sessions to create and adjust pixel-perfect alignment with the desired visual experience, eliminating hundreds of lines of code in the process.
					</li>
					<li>
						Developed modular CSS solutions using LESS, applying strong object oriented techniques to produce maintainable CSS solutions.
					</li>
					<li>
						Proposed and implemented enhancements to existing pages that significantly improved web functionality and speed.
					</li>
					<li>
						Trained over 10 developers in writing and organizing CSS to improve code quality and reusability. 
					</li>
					<li>
						Developed web pages to meet Web Content Accessibility Guidelines (WCAG) for making Web content more accessible.
					</li>
					<li>
						<!-- Experience on integrating Adobe Enterprise Manager (AEM/CQ5) with web application to load language specific content for smooth user experience. -->
						Built and managed development plan, tracked the schedule and reported to leadership of risks encountered during development.
					</li>
					<li>
						Applied approach of TDD to web application including unit testing, integration testing and regression testing.
					</li>
					<li>
						Created a UI framework to integrate and test HandlebarsJS HTML templates resulting in improved developer productivity.
					</li>


					<!-- <li>
						Organized and developed modular CSS solutions using the LESS framework, applying strong object oriented techniques to produce maintainable CSS solutions.
					</li>	
					<li>
						Developed highly reusable UI templates based on the RactiveJS and HandlebarsJS view library.
					</li>
					<li>
						All solutions developed were built to perform as responsive web design solutions with Bootstrap component library.
					</li>
					<li>
						Lead participant in extended work sessions to create and adjust pixel-perfect alignment with the desired visual experience, eliminating hundreds of lines of code in the process.
					</li>
					<li>
						Directly responsible for providing pixel-adjusted solutions as library code for other teams to use.
					</li> -->
				</ul>	

				<div class="client"><strong>Project - Chase Newsroom (client - J.P.Morgan Chase)<span class="year">Jan 2015 - Nov 2015</span></strong></div>
				<ul class="projectDescription">
					<li>
						Experience with various phases of Software Development Life Cycle (SDLC) including planning, reviewing specifications, documentation, scheduling, development, testing and maintenance.
					</li>
					<li>
						Developed pages using bootstrap and SASS preprocessor to produce maintainable CSS solutions following BEM methodology.
					</li>
					<li>
						Worked with a team to create an MVC framework using JavaScript, jQuery, jQueryUI and managed file dependencies using RequireJS.
					</li>
					<li>
						Expert on working in Agile environment and used Jira as a tracking tool to report on all elements of the project in a scrum team.
					</li>
				</ul>

				<h4 class="employer"><strong>Comtec Information Systems</strong></h4>
				<h5 class="client"><strong>Project - BlueUI : shared component library (client - J.P.Morgan Chase)</strong><span class="year">Jan 2014 - Dec 2014</span></h5>

                        <!-- <p class="description">Leveraging a powerful, shared library to empower designers and developers to utilize the same language to bridge the gap between the UI and the back-end solutions by enabling faster and easier web development a live style guide of common, ready to use, extendable and reusable components.</p> -->
						<ul class="projectDescription">
                            <li>
                                Part of a team to develop a powerful, shared library to empower designers and developers to utilize ready to use, extendable and reusable UI components. 
                            </li>
                            <li>
                                Conducted usability review and identify areas where user experience was not optimal.
                            </li>
                            <li>
                                Responsible for monitoring, maintaining, and reviewing contributions to library code which served several coordinated teams across 3 geographic locations.
                            </li>
                            <li>
                                Captured the best development practices with regular code reviews in a way of common justified standards with a team of 8 developers resulting in improving code stability and shared components reusability.
                            </li>
						</ul>
			</div>
		</div>
</section>