<section class="resume">
	<!-- <h2 class="text-center">Resume</h2> -->
	<div class="row">
		<div class="col-md-12">
			<h3 class="summary"><strong><i class="titleIcon fas fa-user-tie"></i> Summary</strong></h3>
			<ul>
				<li>4+ years of experience in developing interactive user interfaces, usability, web and client/server applications using technologies like HTML, CSS and JavaScript.</li>
				<li>Experienced in product lifecycle development from mockups, prototypes, development to user acceptance.</li>
				<li>Directly responsible for monitoring, maintaining, and reviewing contributions to library code which served several coordinated teams across 3 geographic locations.</li>
				<li>Proven track record to manage multiple teams while meeting challenging deadlines.</li>
				<li>Working knowledge in developing full-stack applications using MongoDB, ExpressJS, AngularJS and NodeJS tech stack.</li>
			</ul>

			<div class="skillEducation">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<h3 class="education"><strong><i class="fa fa-angle-right"></i> Skill</strong></h3>
						<ul>
							<li><strong>Languages:</strong> JavaScript, HTML5, CSS3.</li>
						<li><strong>Framework/Library:</strong> Bootstrap, LESS, jQuery, HandlebarsJS, RactiveJS, RequireJS, MochaJS, ChaiJS, SinonJS.</li>
						<li><strong>Tools:</strong> Git, Gulp, Bower, npm, Jira, Source tree.</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6">
						<h3 class="education"><strong><i class="fa fa-angle-right"></i> Education</strong></h3>
						<ul>
							<li>
								<div><strong class="school">Syracuse University<span class="graduateYear">Spring 2013</span></strong></div>
								<p>MS Computer Engineering</p>
							</li>

							<li>
								<div><strong class="school">Visvesvaraya Technological University<span class="graduateYear">Summer 2010</span></strong></div>
								<p>B.S Electronics & Communication</p>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="professionalExperience">
				<h3 class="workExperience"><i class="fa fa-angle-right"></i> Professional Experience</h3>

				<h4 class="employer"><strong>Photon Infotech<span class="year">2014 - Present</span></strong></h4>
				<h4 class="client"><strong>client - J.P.Morgan Chase</strong></h4>
				<ul class="">
					<li>
						Served as the key UI team member on a multi-disciplined scrum team as well on a dynamic, cross functional UI frameworks team.
					</li>
					<li>
						Proficient in development environments using SPA based technologies and approaches.
					</li>
					<li>
						Worked with business analysts and product team members to translate their ideas into consistent, highly reusable HTML, CSS and JavaScript code solutions using client side framework.
					</li>
					<li>
						All solutions were developed to meet or exceed Web Content Accessiibility Guidlines (WCAG) and specifications.
					</li>
					<li>
						Building appropriate unit test for software applications using MochJS, ChaiJS and SinonJS.
					</li>
					<li>
						Worked within a custom UI stack that used nodeJS, npm, Gulp and Bower to drive the build enviroment.
					</li>
				</ul>
				
				<h4 class="client"><strong>client - J.P.Morgan Chase</strong></h4>
				<ul class="projectDescription">
					<li>
						Organized and developed modular CSS solutions using the LESS framework, applying strong object oriented techniques to produce maintainable CSS solutions.
					</li>	
					<li>
						Developed highly resuable UI templates based on the RactiveJS and HandlebarsJS view library.
					</li>
					<li>
						All solutions developed were built to preform as responsive web design solutions with Bootstrap component library.
					</li>
					<li>
						Lead participant in extended work sessions to create and adjust pixel-perfect alignment with the desired visual experience, eliminating hundreds of lines of code in the process.
					</li>
					<li>
						Directly responsible for providing pixel-adjusted solutions as library code for other teams to use.
					</li>
				</ul>	

				<h4 class="employer"><strong>Comtec Information Systems<span class="year">2013 - 2014</span></strong></h4>
				<h4 class="client"><strong>client - J.P.Morgan Chase</strong></h4>
				
				<ul>
					<li>Worked with a team to develop ready to use extendable components to bridge the gap between UI and the back end solution by enabling faster and easier web development.</li>
					<li>Worked with the visual QA team constantly to fix the defects to follow the DCE design standards.</li>
					<li>Co-ordinated with the design team for developing the given wireframes to prototypes to meet the business requirement.</li>
					<li>DOM manipulation, client side scripting and server communication for various user interactions using modular coding solutions.</li>
				</ul>
			</div>
		</div>
</section>